click
datasets
evaluate
hydra-colorlog
hydra-core
joblib
lmdb
lxml==4.9.3
nltk==3.6.2
numpy==1.22.4
omegaconf
opencv-python
pandas==1.5.3
mmpretrain==1.2.0
pyrootutils
pytorch-lightning==1.6.5
pyyaml
rich
scikit-image
scikit-learn==1.2.2
transformers==4.45.2
wheel
