click
datasets
evaluate
hydra-colorlog==1.2.0
hydra-core==1.2.0
joblib
lmdb==1.2.1
lxml==4.9.3
mmpretrain==1.2.0
nltk==3.6.2
numpy==1.23.1
omegaconf
opencv-python==4.6.0.66
pandas==1.5.3
pyrootutils
pytorch-lightning==1.6.5
pyyaml
rich
scikit-image
scikit-learn==1.2.2
wheel
